[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1,<2.3"
asyncpg = ">=0.17,<0.18"
"psycopg2-binary" = ">=2.7.5,<2.8"
pyyaml = "==4.2b4"
validators = ">=0.12.2,<0.13"
aiohttp = ">=3.4.4,<3.6.0"
discord-py = ">=1.2.3,<2.0"

[dev-packages]
black = "==18.6b4"
"flake8" = "*"

[requires]
python_version = "3.7"
